 {% extends 'base_home.html' %} &nbsp;

 {% block title %}Список документов{% endblock %}

 {%block menuname%}Список документов , {{ request.user.first_name }} {{ request.user.last_name }} !{%endblock%}

 {% block content %}
{% load static %}


                    



<div class="list-group">  
    {%for el in history_add_doc %}
        <button type="button" class="list-group-item list-group-item-action" action=>Название:&nbsp;{{el.title}} &nbsp;Кто добавил:&nbsp;{{el.user_upload}}</button>
     {%endfor%}
    </div> 
                
                           
                      
                            
{% endblock %}  