 {% extends 'base_home.html' %} &nbsp;

 {% block title %}Список документов{% endblock %}

 {%block menuname%}Список документов , {{ request.user.first_name }} {{ request.user.last_name }} !{%endblock%}

 {% block content %}
{% load static %}


 {%if perms.home.view_add_doc%}             

<div class="list-group">

 {%for el in all_add_doc %}
<div class="list-group-item list-group-item-action">
    <p>{{el.title}} </p>
    <div class="list-group-item list-group-item-action">
        {% comment %} <a href="" class="btn btn-space btn-secondary">Информация о документе</a> {% endcomment %}
        <a href="{{ el.file_url }}" class="btn btn-space btn-secondary">Просмотр</a>
        <a href="" class="btn btn-space btn-secondary">Подписать</a>
         {%if perms.home.delete_add_doc%}
        <a href="" class="btn btn-space btn-secondary">Удалить</a>
        {%else%}
        <a href="" class="btn btn-space btn-secondary disabled" >Удалить</a>
        {%endif%}

    </div>
</div>

 <!--   <a href="{{ el.file_url }}" class="list-group-item list-group-item-action">
        <i class="button" ></i>
    </a>-->
        
        {%endfor%}        
{%else%}
<h1>Просмотр файлов закрыт</h1>
{%endif%}
</div>

{% comment %} <div class="list-group">  
    {%for el in all_add_doc %}
        <button type="button" class="list-group-item list-group-item-action" onclick="{{ el.file_url }}">Название:&nbsp;{{el.title}} &nbsp;Кто добавил:&nbsp;{{el.user_upload}}</button>
     {%endfor%}
    </div> 
                 {% endcomment %}
                           
                      
                            
{% endblock %}  