 {% extends 'base_home.html' %} &nbsp;

 {% block title %}История{% endblock %}

 {%block menuname%}История действий , {{ request.user.first_name }} {{ request.user.last_name }} !{%endblock%}

 {% block content %}

{% load static %}


{% comment %} Добавление таблицы и автозаполнение {% endcomment %}
<table class="table">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название файла</th>
      <th scope="col">Кто добавил</th>
      <th scope="col">Дата добавления</th>
    </tr>
  </thead>
  <tbody>
  {%for el in history_add_doc %}
    <tr>
      <th scope="row">{{el.id}}</th>
      <td>{{el.title}}</td>
      <td>{{el.user_upload}}</td>
      <td>{{el.create_datetime}}</td>
    </tr>
     {%endfor%}
      </tbody>
</table>
                    
                                 
                                
                                        
 {% endblock  %}