 {% extends 'base_home.html' %} &nbsp;

 {% block title %}История{% endblock %}

 {%block menuname%}История действий , {{ request.user.first_name }} {{ request.user.last_name }} !{%endblock%}

 {% block content %}

{% load static %}

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <!--<h5 class="card-header">Загурзка документов</h5>-->
                                 
                                <div class="card-body">
                                   {%for el in actions %}
                                        <div class="form-group">
                                            <h2 class="pageheader-title">{{el.action_name}} {{el.time}}</h2>
                                        </div>
                                    {%endfor%}
                                        
                                        <div class="col-sm-6 pl-0">
                                      </form>
                                    <form action="#" id="basicform" data-parsley-validate="">
                                        <div class="form-group">
                                        </div>
 {% endblock  %}