 {% extends 'base_home.html' %} &nbsp;

 {% block title %}История{% endblock %}

 {%block menuname%}История действий , {{ request.user.first_name }} {{ request.user.last_name }} !{%endblock%}

 {% block content %}

{% load static %}

                    <div class="container-fluid">
                        <ul class="list-group list-group-flush">
                        {%for el in actions %}
                            <li class="list-group-item"> {{el.action_name}} {{el.time}}</li> 
                        {%endfor%}
                                                        
                            </ul>
                                <!--<h5 class="card-header">Загурзка документов</h5>-->
                                 
                                
                                        
 {% endblock  %}